* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Poppins;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    color: #333;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #333;
    color: white;
    padding: 20px;
}

header h1 {
    font-size: 30px;
    margin: 0;
}

.header-right {
    display: flex;
    align-items: center;
}

.Bienvenida {
    margin-right: 20px;
}

.salir {
    cursor: pointer;
    padding: 5px 10px;
    background-color: #e74c3c;
    color: white;
    border: none;
    margin-top: 10px;
    border-radius: 5px;
    transition: background-color 0.3s;
    font-size: 14px;
}

.salir:hover {
    background-color: #c0392b;
}

.navbar {
    background-color: #333;
    padding: 15px;
    padding-bottom: 30px;
    text-align: center;
}

.navbar ul {
    list-style-type: none;
}

.navbar ul li {
    display: inline;
    margin-right: 20px;
}

.navbar ul li a {
    color: white;
    text-decoration: none;
    padding: 10px 15px;
    background-color: #555;
    border-radius: 5px;
    transition: background-color 0.3s;
}

.navbar ul li a:hover {
    background-color: #777;
}

.main-content {
    margin-top: 20px;
    text-align: center;
}

.main-content h2 {
    font-size: 26px;
    font-weight: bold;
    color: #2c3e50;
    margin-bottom: 10px;
    text-transform: uppercase;
    letter-spacing: 1.2px;
}

.main-content p {
    font-size: 18px;
    color: #7f8c8d;
    line-height: 1.5;

}
/* Estilo para las tablas */
.table-container {
    overflow-x: auto;
    margin: 20px;
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    background-color: white;
}

table {
    width: 100%;
    border-collapse: collapse;
    font-size: 16px;
}

th, td {
    padding: 12px 15px;
    border: 1px solid #ddd;
}

th {
    background-color: #333;
    color: white;
}

tr:nth-child(even) {
    background-color: #f9f9f9; /* Color de fondo para filas pares */
}

tr:hover {
    background-color: #e1e1e1;
}
/*INPUTS TABLA*/
td input[type="text"], td input[type="email"], td input[type="date"] {
    width: 100%;
    box-sizing: border-box;
}



button {
    background-color: #28a745;
    color: white;
    border: none;
    padding: 8px 12px;
    margin: 5px;
    cursor: pointer;
    border-radius: 4px;
    transition: background-color 0.3s;
    width: 100%;
}

button:hover {
    background-color: #218838;
}
.crear{
    max-width: 99%;

}

.eliminar {
    width: 100%;
    background-color: #d71a3c;
    color: white;
    border: none;
    padding: 8px 12px;
    margin: 5px;
    cursor: pointer;
    border-radius: 4px;
    transition: background-color 0.3s;
}

.eliminar:hover {
    background-color: #9d142d;
}

button:disabled {
    background-color: #ccc;
    cursor: not-allowed;
}

/*VEHICULOS*/
/*Modal creación*/
/* Estilos para el modal */
#nuevaReparacionModal {
    position: fixed; /
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    z-index: 1000;
    display: none;
    width: 40%;
}

#nuevaReparacionModal input[type="text"],
#nuevaReparacionModal input[type="number"],
#nuevaReparacionModal input[type="date"],
#nuevaReparacionModal input[type="file"],
#nuevaReparacionModal select

{
    width: calc(100% - 20px);
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ddd;
    border-radius: 4px;
}

/* Estilo específico para el campo de subir imagen */
 {
    width: calc(100% - 20px);
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    background-color: #fff;
    margin: 10px 0;
    font-size: 16px;
}

/*Estilo para los botones dentro del modal vehículos */
#nuevaReparacionModal button {
    background-color: #28a745;
    color: white;
    border: none;
    padding: 10px 15px;
    margin: 5px;
    cursor: pointer;
    border-radius: 4px;
    transition: background-color 0.3s;
    width: 48%;
}

#nuevaReparacionModal button:hover {
    background-color: #218838;
}

.cancelarNuevoVehiculo {
    background-color: #e74c3c;
}

.cancelarNuevoVehiculo:hover {
    background-color: #c0392b;
}

/* SEGUROS */
/* Modal creación */
/* Estilos para el modal */
#nuevoSeguroModal {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    z-index: 1000;
    display: none;
    width: 40%;
}

#nuevoSeguroModal input[type="text"],
#nuevoSeguroModal input[type="number"],
#nuevoSeguroModal select {
    width: calc(100% - 20px);
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ddd;
    border-radius: 4px;
    font-size: 14px;
}

/* Estilos para los botones dentro del modal en seguros */
#nuevoSeguroModal button {
    background-color: #28a745;
    color: white;
    border: none;
    padding: 10px 15px;
    margin: 5px;
    cursor: pointer;
    border-radius: 4px;
    transition: background-color 0.3s;
    width: 48%;
}

#nuevoSeguroModal button:hover {
    background-color: #218838;
}

/* Estilos para el textarea en el modal de seguros */
#nuevoSeguroModal textarea {
    width: calc(100% - 20px);
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ddd;
    border-radius: 4px;
    resize: vertical;
    font-size: 14px;
}

/* Estilos para el textarea en la tabla de seguros */
#seguros-list textarea {
    font-size: 14px;
    width: 100%;
    padding: 5px;
    border: 1px solid #ddd;
    border-radius: 4px;
    resize: vertical;
    height: 50px;
}

.cancelarNuevoSeguro {
    background-color: #e74c3c;
}

.cancelarNuevoSeguro:hover {
    background-color: #c0392b;
}

/*Campos de solo lectura*/
.readonly-field {
    display: inline-block;
    background-color: #f0f0f0;
    padding: 5px; /
    border-radius: 4px;
    color: #555;
    font-weight: bold;
}
/*RESERVAS*/

.btn-generar-pdf{
    width:99%;
    background-color: #cf9514;
    color:white;
}

.btn-generar-pdf:hover{
    background-color: #b57700;

}

/*REPARACIONES*/
/*MODAL*/
/* Estilos para el modal */
#nuevaReparacionModal {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    z-index: 1000;
    display: none;
    width: 40%;
}

#nuevaReparacionModal input[type="text"],
#nuevaReparacionModal input[type="number"],
#nuevaReparacionModal input[type="date"],
#nuevaReparacionModal input[type="file"],
#nuevaReparacionModal textarea,
#nuevaReparacionModal select

{
    width: calc(100% - 20px);
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ddd;
    border-radius: 4px;
}

/* Estilo específico para el campo de subir imagen */
{
    width: calc(100% - 20px);
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    background-color: #fff;
    margin: 10px 0;
    font-size: 16px;
}

/* Estilos para los botones dentro del modal en vehículos */
#nuevaReparacionModal button {
    background-color: #28a745;
    color: white;
    border: none;
    padding: 10px 15px;
    margin: 5px;
    cursor: pointer;
    border-radius: 4px;
    transition: background-color 0.3s;
    width: 48%;
}

#nuevaReparacionModal button:hover {
    background-color: #218838;
}

.cancelarNuevaReparacion {
    background-color: #e74c3c;
}

.cancelarNuevaReparacion:hover {
    background-color: #c0392b;
}

/* Estilo para el footer */
footer {
    background-color: #333;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px 0;
    /*position: fixed;*/
    width: 100%;
    bottom: 0;
    font-size: 14px;
    box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.1);
}

footer p {
    margin: 0;
    line-height: 1.5;
}


